docs/addEvent.html
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="shortcut icon" type="image/x-icon" href="images/title.ico"/>
      <title>Koledarko</title>
      <link rel="stylesheet" type="text/css" href="css/addEvent.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
   </head>
   <body>
      <div>
         <nav class="navbar navbar-default navigation-clean">
            <div class="container">
               <div class="navbar-header">
                  <button class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                  <p class="navbar-brand">Koledarko</p>
               </div>
               <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav navbar-right">
                     <li role="presentation"><a href="calendar.html">My Calendar</a></li>
                     <li role="presentation"><a href="sharedCalendars.html">Shared Calendars</a></li>
                     <li role="presentation"><a href="sharedEvents.html">Shared Events</a></li>
                     <li role="presentation"><a href="search.html">Search</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                           <li role="presentation"><a href="profileSettings.html">Account</a></li>
                           <li role="presentation"><a href="login.html">Logout</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <div class="bar"></div>
      <form action="dayPreview.html" method="post">
         <div class="container">
            <div class="row" >
               <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                  <div id="col1_row1" class="row" >
                     <div class="col-md-12 mdfix" >
                        <h1 class="h1-month">November 2018</h1>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12 div-col">
                        <h1 class="h1-day">Thursday, 1.</h1>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather"><img class="img-circle" src="images/weather.png" alt="Current_Weather.png"></div>
            </div>
         </div>
         <div class="container">
            <div class="row row-fix">
               <div class="col-md-12">
                  <h1 class="bolded h1-titles">Title</h1>
               </div>
            </div>
            <div class="row row-fix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                  <input class="input-b" type="text" value="Call your doctor." name="title" required/>
                  <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row row-fix">
               <div class="col-md-12 ">
                  <h1 class="bolded h1-titles">Location</h1>
               </div>
            </div>
            <div class="row row-fix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                  <input class="input-b" type="text" value="Ljubljana" name="location" required/>
                  <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row row-fix">
               <div class="col-md-12">
                  <h1 class="bolded h1-titles">Start time</h1>
               </div>
            </div>
            <div class="row row-fix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  details">
                  <input class="input-b" type="time" value="08:00" name="starttime" required/>
                  <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row row-fix">
               <div class="col-md-12">
                  <h1 class="bolded h1-titles">End time</h1>
               </div>
            </div>
            <div class="row row-fix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                  <input class="input-b" type="time" value="08:15" name="endtime" required/>
                  <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row row-fix">
               <div class="col-md-12">
                  <h1 class="bolded h1-titles">Notes</h1>
               </div>
            </div>
            <div class="row row-fix">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details d-fix">
                  <input class="input-b" type="text" value="Mention the fever." name="notes" required/>
                  <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row"  >
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-flex">
                  <button type="submit" class="add-event">Confirm</button>
               </div>
            </div>
         </div>
      </form>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>

app_server/views/addEvent.pug
extends layoutCalendar
block content
  .bar
  form(action="/calendar/" + calendar + "/event/add?q=" + date, method='post', autocomplete="off")
    .container
      .row
        .col-lg-10.col-md-10.col-sm-8.col-xs-8
          #col1_row1.row
            .col-md-12.mdfix.div-offset-title
              h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
          .row
            .col-md-12.div-col
              h1.h1-day #{calendarInfo.dayDisc}, #{calendarInfo.day}.
        .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
          img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Title
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value='', name='title', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Location
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='text', value='', name='location', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Start time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value='', name='startTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles End time
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type='time', value='', name='endTime', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Notes
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details.d-fix
          input.input-b(type='text', value='', name='note', required='')
          button.edit2(type='button')
            i.glyphicon.glyphicon-pencil
    .container
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-flex
          button.add-event(type='submit') Confirm
          
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")
