app_client/calendar/main/calendar.pogled.html
<navigacija></navigacija>
<div class="bar">
    <p class="parTitle">{{vm.imeKoledarja}}</p>
    <a ng-click="vm.prikaziPojavnoOknoObrazca()">
        <button class="edit-cl"><i class="glyphicon glyphicon-cog"></i></button>
    </a>
    <div id="calendar-wrap">
        <div id="calendar">
            <ul class="weekdayNames">
                <li class="tcolor">Sunday</li>
                <li class="tcolor">Monday</li>
                <li class="tcolor">Tuesday</li>
                <li class="tcolor">Wednesday</li>
                <li class="tcolor">Thursday</li>
                <li class="tcolor">Friday</li>
                <li class="tcolor">Saturday</li>
            </ul>
            <ul class="row">
                <li class="prevDay" ng-repeat="grey in vm.greyOnes">
                    <span class="miniDay">{{grey.name}}</span>
                    <div class="date">
                        <a>{{grey.date}}</a>
                    </div>
                </li>
                <li class="day" ng-repeat="currentDay in vm.activeOnes">
                    <span class="miniDay">{{currentDay.name}}</span>
                    <div class="date">
                        <a ng-href="{{'/calendar/' + vm.data._id + '/event?q=' + vm.leto + '-' + vm.mesec + '-' + currentDay.dday }}">{{currentDay.dday}}</a>
                    </div>
                    <div class="description miniDayDesktop" ng-repeat="(key, currentEvent) in currentDay.events track by key">
                        <span>{{currentEvent}}</span>
                    </div>
                </li>
                <li class="prevDay" ng-repeat="grey in vm.lastOnes">
                    <span class="miniDay">{{grey.name}}</span>
                    <div class="date">
                        <a>{{grey.date}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="left-switch"><a class="glyphicon glyphicon-chevron-left" ng-click="vm.prevMonth()"></a></div>
<div class="right-switch"><a class="glyphicon glyphicon-chevron-right" ng-click="vm.nextMonth()"></a></div>

app_server/views/calendar.pug
extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
    p.parTitle #{contentD.title}
    button.edit-cl(onclick="location.href='/calendar/" + contentD._id + "/edit'")
      i.glyphicon.glyphicon-cog
  #calendar-wrap
    #calendar
      ul.weekdayNames
        li.tcolor  Sunday 
        li.tcolor  Monday 
        li.tcolor  Tuesday 
        li.tcolor  Wednesday 
        li.tcolor  Thursday 
        li.tcolor  Friday 
        li.tcolor  Saturday 
      ul.row
        +prikaziDneve(contentD, data, dataP)

  .left-switch
    a.glyphicon.glyphicon-chevron-left(onclick="getPreviousMonthURL()")
  .right-switch
    a.glyphicon.glyphicon-chevron-right(onclick="getNextMonthURL()")
  p#userId(style="display:none;")= contentD.user
  p#calendarId(style="display:none;")= contentD._id 
  
  script(src="/javascripts/support.js")
  script(src="/javascripts/calendar.js")
