docs/editCalendar.html
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="shortcut icon" type="image/x-icon" href="images/title.ico"/>
      <title>Koledarko</title>
      <link rel="stylesheet" type="text/css" href="css/editCalendar.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
   </head>
   <body>
      <div>
         <nav class="navbar navbar-default navigation-clean">
            <div class="container">
               <div class="navbar-header">
                  <button class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                  <p class="navbar-brand">Koledarko</p>
               </div>
               <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav navbar-right">
                     <li role="presentation"><a href="calendar.html">My Calendar</a></li>
                     <li role="presentation"><a href="sharedCalendars.html">Shared Calendars</a></li>
					 <li role="presentation"><a href="sharedEvents.html">Shared Events</a></li>
                     <li role="presentation"><a href="search.html">Search</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                           <li role="presentation"><a href="profileSettings.html">Account</a></li>
                           <li role="presentation"><a href="login.html">Logout</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <div class="bar"></div>
	  <form action="calendar.html" method="post">
      <div class="container">
         <div class="row" >
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
               <div id="col1_row1" class="row" >
                  <div class="col-md-12 mdfix" >
                     <h1 class="h1-calendar">School calendar</h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 div-col ">
                     <h1 class="h1-description">Description: For students, by students.</h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather"><img class="img-circle" src="images/calendar.jpg" alt="Calendar_Icon.png"></div>
         </div>
      </div>
      <div class="container">
         <div class="row row-fix">
            <div class="col-md-12">
               <h1 class="bolded h1-titles">Title</h1>
            </div>
         </div>
         <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
			   <input class="input-b" type="text" value="School calendar" name="title" required/>
               <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row row-fix">
            <div class="col-md-12 ">
               <h1 class="bolded h1-description-fix">Description</h1>
            </div>
         </div>
         <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
			   <input class="input-b" type="text" value="For students, by students." name="description" required/>
               <button type="button" class="edit2"><i class="glyphicon glyphicon-pencil"></i></button>
            </div>
         </div>
      </div>
		 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fix-margin">
			<button formaction="sharedCalendars.html" class="btn-share">Share</button>
			<button type="submit" class="save-changes">Save</button>
			<button formaction="calendar.html" class="confirm-delete">Remove</button>
		</div>
	  </form>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>

app_server/views/editCalendar.pug
extends layoutCalendar

block content
  .bar
  form(action="/calendar/" + calendar + "/edit" method="post" autocomplete="off")
    .container
      .row
        .col-lg-10.col-md-10.col-sm-8.col-xs-8
          #col1_row1.row
            .col-md-12.mdfix
              h1.h1-calendar= info.title
          .row
            .col-md-12.div-col
              h1.h1-description Description: #{info.description}
        .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
          img.img-circle(src="/images/calendar.jpg" alt="Calendar_Icon.png")
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Title
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value=info.title name="title" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-description-fix Description
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value=info.description name="description" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center.fix-margin
      button.btn-share(formaction="/calendar/" + calendar + "/share")= share
      button.save-changes(type="submit") Save
  
  script(src="/javascripts/extractCookie.js")
