app_server/views/login.pug
extends layoutUser

block content
  .containerCustom
    .login-content
      form#login-form(method='post', action='login', autocomplete="off")
        h3.form-title Login
        .form-group.has-feedback
          input#uname.form-input(type='text', minlength='6', maxlength='20', name='username', placeholder='Username', required='')
          i.glyphicon.glyphicon-user.form-control-feedback
        .form-group.has-feedback
          input#Password.form-input(type='password', maxlength='20', name='password', placeholder='Password', required='')
          i.glyphicon.glyphicon-lock.form-control-feedback
        .form-group
          button.custom-button.btn-login(type='submit') Login
      p.login-paragraph
        | Don't have an account?  
        a.login(href='register') Sign up

docs/login.html
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" type="image/x-icon" href="images/title.ico" />
      <link rel="stylesheet" href="css/login.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title>Login</title>
   </head>
   <body>
      <div class="containerCustom">
         <div class="login-content">
            <form method="post" action="calendar.html" id="login-form">
               <h3 class="form-title">Login</h3>
               <div class="form-group has-feedback">
                  <input type="text" minlength="6" maxlength="20" class="form-input" name="uname" id="uname" placeholder="Username" required/>
                  <i class="glyphicon glyphicon-user form-control-feedback"></i>
               </div>
               <div class="form-group has-feedback">
                  <input type="password" maxlength="20" class="form-input" name="Password" id="Password" placeholder="Password" required/>
                  <i class="glyphicon glyphicon-lock form-control-feedback"></i>
               </div>
               <div class="form-group">
                  <button type="submit" class="custom-button btn-login">Login</button>
               </div>
            </form>
            <p class="login-paragraph">Don't have an account?&nbsp;&nbsp;<a href="signup.html" class="login">Sign up</a></p>
         </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </body>
</html>
