app_server/views/removeEvent.pug
extends layoutCalendar
block content
  .bar
  .container
    .row
      .col-lg-10.col-md-10.col-sm-8.col-xs-8
        #col1_row1.row
          .col-md-12.mdfix
            h1.h1-month #{calendarInfo.month} #{calendarInfo.year}
        .row
          .col-md-12.div-col
            h1.h1-day #{calendarInfo.dayDisc}, #{calendarInfo.day}.
      .col-lg-2.col-md-2.col-sm-4.col-xs-4.text-right.div-weather
        img.img-circle(src='/images/loadinfo.gif', alt='Current_Weather.png')
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.delevent
        h4.h4-remove You are about to remove the following event:
    .row
      .col-lg-2.col-md-2.col-sm-2.col-xs-4.revent
        h1.text-left.h1-hour= eventInfo.time
      .col-lg-10.col-md-10.col-sm-10.col-xs-8.reventdesc
        h4.h4-remove= eventInfo.title
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-flex
        form(action='/calendar/' + calendar + '/event/' + event + '/remove?q=' + queryDate, method='post')
          button.confirm-delete(type='submit') Confirm
    
  script(src="/javascripts/extractCookie.js")
  script(src="/javascripts/weather.js")

docs/removeEvent.html
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="shortcut icon" type="image/x-icon" href="images/title.ico"/>
      <title>Koledarko</title>
      <link rel="stylesheet" type="text/css" href="css/removeEvent.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
   </head>
   <body>
      <div>
         <nav class="navbar navbar-default navigation-clean">
            <div class="container">
               <div class="navbar-header">
                  <button class="navbar-toggle collapsed menu-button" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                  <p class="navbar-brand">Koledarko</p>
               </div>
               <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav navbar-right">
                     <li role="presentation"><a href="calendar.html">My Calendar</a></li>
                     <li role="presentation"><a href="sharedCalendars.html">Shared Calendars</a></li>
                     <li role="presentation"><a href="sharedEvents.html">Shared Events</a></li>
                     <li role="presentation"><a href="search.html">Search</a></li>
                     <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                           <li role="presentation"><a href="profileSettings.html">Account</a></li>
                           <li role="presentation"><a href="login.html">Logout</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <div class="bar"></div>
      <div class="container">
         <div class="row" >
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
               <div id="col1_row1" class="row" >
                  <div class="col-md-12 mdfix" >
                     <h1 class="h1-month">November 2018</h1>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 div-col">
                     <h1 class="h1-day">Thursday, 1.</h1>
                  </div>
               </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right div-weather"><img class="img-circle" src="images/weather.png" alt="Current_Weather.png"></div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 delevent">
               <h4 class="h4-remove">You are about to remove the following event:</h4>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 revent">
               <h1 class="text-left h1-hour">08:00</h1>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 reventdesc">
               <h4 class="h4-remove">Call your doctor.</h4>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-flex">
               <form action="dayPreview.html" method="post">
                  <button type="submit" class="confirm-delete">Confirm</button>
               </form>
            </div>
         </div>
      </div>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>
