app_server/views/search.pug
extends layoutCalendar

block content
  .bar
  .row
    .container
      .col-lg-10.col-md-10.col-sm-8.col-xs-8
        #col1_row1.row
          .col-md-12.mdfix
            h1 
             b Search shared events
      i.glyphicon.glyphicon-search.searchIkona
  form(action="/search/" + calendar + "/find", method="get")
    .container
      .row.row-fix
        .col-md-12
          h1.bolded.h1-titles Location
      .row.row-fix
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.details
          input.input-b(type="text" value="Ljubljana" name="location" required="")
          button.edit2(type="button")
            i.glyphicon.glyphicon-pencil
            
    .col-lg-12.col-md-12.col-sm-12.col-xs-12.div-center-align.d-fix
      button.save-changes(type="submit") Search
      
  script(src="/javascripts/extractCookie.js")

app_client/search/search.pogled.html
<navigacija></navigacija>
<div class="bar"></div>
<div class="row">
    <div class="container">
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
            <div class="row" id="col1_row1">
                <div class="col-md-12 mdfix">
                    <h1> <b>Search shared events</b></h1>
                </div>
            </div>
        </div><i class="glyphicon glyphicon-search searchIkona"></i></div>
</div>
<form ng-submit="vm.posljiPoizvedbo()">
    <div class="container">
        <div class="row row-fix">
            <div ng-show="vm.napakaSporocilo" class="alert alert-danger">
                <strong>Warning:</strong> {{vm.napakaSporocilo}}
            </div>
            <div class="col-md-12">
                <h1 class="bolded h1-titles">Location</h1>
            </div>
        </div>
        <div class="row row-fix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details"><input class="input-b" type="text" ng-model="vm.podatkiObrazca.lokacija"value="Ljubljana" name="location" required="" /><button class="edit2" type="button"><i class="glyphicon glyphicon-pencil"></i></button></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 div-center-align d-fix"><button class="save-changes" type="submit">Search</button></div>
</form> 
