app_client/calendar/sharedEvents/sharedEvents.pogled.html
<navigacija></navigacija>
<div class="bar"></div>
<div class="container">
	<div class="row center-row row-fix-top">
	    <div ng-show="vm.prikaziPrazno" class="container no-result-div">
        	<div class="row row-fix">
        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
        			 <h1 class="no-result">No shared events</h1>
        		</div>
        	</div>
        </div>
		<div class="center-div">
			<a class="col-lg-3 col-md-4 col-sm-6 col-xs-6 edit2 tOverflow" ng-repeat="dogodek in vm.events" ng-href="{{ 'sharedEvents/' +  dogodek._id }}">
				<h3>{{ dogodek.title }} - {{ dogodek.location }}</h3>
				<h4>{{ dogodek.startTime | date: 'yyyy.MM.dd'}}</h4>
				<h4>{{ dogodek.startTime | date: 'HH:mm' }}</h4>
				<img class="avatar" src="/images/groupIcon.png" width="100" height="100" alt="Event.png" />
				<p>
					<b> Event description: </b> <br>
					 {{dogodek.note}}
				</p>
			</a>
		</div>
	</div>
</div>

app_server/views/sharedEvents.pug
extends layoutCalendar

include _include/skupneHTMLFunkcije.pug

block content
  .bar
  .container
    .row.center-row.row-fix-top
      .center-div
        +sharedEvents(content)
        
  script(src="/javascripts/extractCookie.js")
